[workspace]
members = ["ceramic-kubo-rpc", "ceramic-one", "ceramic-ffi"]

[workspace.dependencies]
anyhow = "1"
async-stream = "0.3"
async-trait = "0.1"
ceramic-one = { path = "./ceramic-one" }
dag-jose = "0.1"
futures-util = "0.3"
iroh-api = { git = "https://github.com/nathanielc/beetle", branch = "expose-api-client" }
iroh-embed = { git = "https://github.com/nathanielc/beetle", branch = "expose-api-client" }
iroh-metrics = { git = "https://github.com/nathanielc/beetle", branch = "expose-api-client" }
iroh-rpc-client = { git = "https://github.com/nathanielc/beetle", branch = "expose-api-client" }
libipld = "0.15"                                                                                 # use same version as Iroh
libp2p = { version = "0.50", default-features = false }                                          # use same version as Iroh
multiaddr = "0.16"                                                                               # use same version as Iroh
opentelemetry = "0.18"
opentelemetry-otlp = "0.11"
tokio = { version = "1", features = ["full"] }
tracing = "0.1"
tracing-opentelemetry = "0.18"
tracing-subscriber = "0.3"
unimock = "0.4"

# Uncomment these lines to use a local copy of beetle
[patch."https://github.com/nathanielc/beetle"]
iroh-api = { path = "../beetle/iroh-api" }
iroh-embed = { path = "../beetle/iroh-embed" }
iroh-metrics = { path = "../beetle/iroh-metrics" }
iroh-rpc-client = { path = "../beetle/iroh-rpc-client" }

[patch.crates-io]
libp2p = { path = "../rust-libp2p/core" }

[workspace.package]
version = "0.1.0"
edition = "2021"
authors = ["Nathaniel Cook <nvcook42@gmail.com>"]
license = "MIT OR Apache-2.0"
repository = "https://github.com/3box/rust-ceramic"
