[workspace]
members = ["core", "event", "kubo-rpc", "one"]

[workspace.dependencies]
anyhow = "1"
async-stream = "0.3"
async-trait = "0.1"
bytes = "1.1"
ceramic-one = { path = "./one" }
cid = { version = "0.9", features = ["serde-codec"] }
dag-jose = "0.1"
env_logger = "0.10"
futures = "0.3"
futures-util = "0.3"
hex = "0.4.3"
iroh-api = { git = "https://github.com/nathanielc/beetle", branch = "expose-api-client" }
iroh-embed = { git = "https://github.com/nathanielc/beetle", branch = "expose-api-client" }
iroh-metrics = { git = "https://github.com/nathanielc/beetle", branch = "expose-api-client" }
iroh-p2p = { git = "https://github.com/nathanielc/beetle", branch = "expose-api-client" }
iroh-rpc-client = { git = "https://github.com/nathanielc/beetle", branch = "expose-api-client" }
iroh-rpc-types = { git = "https://github.com/nathanielc/beetle", branch = "expose-api-client" }
iroh-store = { git = "https://github.com/nathanielc/beetle", branch = "expose-api-client" }
libipld = "0.15"                                                                                 # use same version as Iroh
libp2p = { version = "0.50", default-features = false }                                          # use same version as Iroh
multiaddr = "0.16"                                                                               # use same version as Iroh
multibase = "0.9"
multihash = "0.17"
once_cell = "1.17.1"
opentelemetry = "0.18"
opentelemetry-otlp = "0.11"
ssi = { version = "0.6", features = ["ed25519"] }
serde = { version = "1.0", features = ["derive"] }
serde_ipld_dagcbor = "0.3.0"
serde_json = "1.0"
tokio = { version = "1", default-features = false, features = ["rt"] }
tracing = "0.1"
tracing-opentelemetry = "0.18"
tracing-subscriber = "0.3"
unimock = "0.4"
libp2p-tls = { version = "=0.1.0-alpha", default-features = false }                              # use explicit version of dep to avoid conflict


# Uncomment these lines to use a local copy of beetle
#[patch."https://github.com/nathanielc/beetle"]
#iroh-metrics = { path = "../beetle/iroh-metrics" }
#iroh-p2p = { path = "../beetle/iroh-p2p" }
#iroh-rpc-client = { path = "../beetle/iroh-rpc-client" }
#iroh-rpc-types = { path = "../beetle/iroh-rpc-types" }
#iroh-store = { path = "../beetle/iroh-store" }

#[patch.crates-io]
#libp2p = { path = "../rust-libp2p/libp2p" }

[workspace.package]
version = "0.1.0"
edition = "2021"
authors = [
    "Nathaniel Cook <nvcook42@gmail.com>",
    "Danny Browning <dbrowning@3box.io>",
]
license = "MIT OR Apache-2.0"
repository = "https://github.com/3box/rust-ceramic"
