# Default all files to the eng reviewers team
* @ceramicnetwork/eng-reviewers

# Pick two reviewers for each top level directory:
# the owner and someone from the eng-reviewers team.
/api-server/        @dav1do         @ceramicnetwork/eng-reviewers
/api/               @dav1do         @ceramicnetwork/eng-reviewers
/beetle/            @nathanielc     @ceramicnetwork/eng-reviewers
/ci-scripts/        @smrz2001       @ceramicnetwork/eng-reviewers
/core/              @nathanielc     @ceramicnetwork/eng-reviewers
/event/             @nathanielc     @ceramicnetwork/eng-reviewers
/fpm/               @dbcfd          @ceramicnetwork/eng-reviewers
/kubo-rpc-server/   @nathanielc     @ceramicnetwork/eng-reviewers
/kubo-rpc/          @nathanielc     @ceramicnetwork/eng-reviewers
/metrics/           @dav1do         @ceramicnetwork/eng-reviewers
/migrations/        @dav1do         @ceramicnetwork/eng-reviewers
/one/               @nathanielc     @ceramicnetwork/eng-reviewers
/p2p/               @nathanielc     @ceramicnetwork/eng-reviewers
/recon/             @AaronGoldman   @ceramicnetwork/eng-reviewers
/service/           @dav1do         @ceramicnetwork/eng-reviewers
/store/             @dav1do         @ceramicnetwork/eng-reviewers
