[package]
name = "iroh-rpc-client"
authors = ["Friedel Ziegelmayer <me@dignifiedquire.com>", "ramfox"]
description = "RPC type client for iroh"
version.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true
publish = false

[dependencies]
anyhow.workspace = true
async-stream.workspace = true
bytes.workspace = true
cid.workspace = true
futures.workspace = true
iroh-rpc-types.workspace = true
libp2p = { workspace = true, features = ["gossipsub"] }
quic-rpc = { workspace = true, features = ["http2"] }
serde = { workspace = true, features = ["derive"] }
tokio = { workspace = true, features = ["sync"] }
tracing.workspace = true

[dev-dependencies]
tokio-stream = { workspace = true, features = ["net"] }
