[package]
name = "ceramic-store"
description = "A storage implementation for Ceramic"
version.workspace = true
edition.workspace = true
authors.workspace = true
license.workspace = true
repository.workspace = true
publish = false

[dependencies]
anyhow.workspace = true
async-trait.workspace = true
bytes.workspace = true
ceramic-api.workspace = true
ceramic-core.workspace = true
ceramic-metrics.workspace = true
chrono = "0.4.34"
cid.workspace = true
dirs = "5.0.1"
futures.workspace = true
hex.workspace = true
iroh-bitswap.workspace = true
iroh-car.workspace = true
itertools = "0.12.0"
multihash.workspace = true
prometheus-client.workspace = true
recon.workspace = true
serde.workspace = true
sqlx.workspace = true
tokio.workspace = true
tracing.workspace = true

[dev-dependencies]
expect-test.workspace = true
rand.workspace = true
test-log.workspace = true
tokio.workspace = true
tracing-subscriber.workspace = true
libipld.workspace = true
libipld-cbor.workspace = true
