[package]
name = "ceramic-store"
description = "A storage implementation for Ceramic"
version.workspace = true
edition.workspace = true
authors.workspace = true
license.workspace = true
repository.workspace = true
publish = false

[dependencies]
anyhow.workspace = true
async-trait.workspace = true
bytes.workspace = true
ceramic-api.workspace = true
ceramic-core.workspace = true
ceramic-metrics.workspace = true
cid.workspace = true
futures.workspace = true
hex.workspace = true
iroh-bitswap.workspace = true
iroh-car.workspace = true
itertools = "0.12.0"
multihash.workspace = true
prometheus-client.workspace = true
recon.workspace = true
sqlx.workspace = true
tokio.workspace = true
tracing.workspace = true

[dev-dependencies]
criterion2 = { workspace = true, features = ["async", "async_tokio"] }
expect-test.workspace = true
libipld.workspace = true
libipld-cbor.workspace = true
rand.workspace = true
paste = "1.0"
test-log.workspace = true
tmpdir.workspace = true
tokio.workspace = true
tracing-subscriber.workspace = true
uuid.workspace = true

[[bench]]
name = "sqlite_store"
harness = false
