[package]
name = "ceramic-one"
description = "Single binary Ceramic node"
version.workspace = true
edition.workspace = true
authors.workspace = true
license.workspace = true
repository.workspace = true


[dependencies]
anyhow.workspace = true
ceramic-kubo-rpc = { path = "../kubo-rpc", features = ["http"] }
clap = { version = "4", features = ["derive", "env"] }
futures.workspace = true
futures-util.workspace = true
git-version = "0.3"
home = "0.5"
iroh-rpc-client.workspace = true
iroh-rpc-types.workspace = true
iroh-p2p.workspace = true
iroh-store.workspace = true
iroh-metrics.workspace = true
libipld.workspace = true
libp2p.workspace = true
multiaddr.workspace = true
names = "0.14"
opentelemetry-otlp.workspace = true
opentelemetry.workspace = true
prometheus-client = "0.21"
serde = "1"
serde_json = "1"
serde_repr = "0.1"
tokio.workspace = true
tracing-opentelemetry.workspace = true
tracing-subscriber.workspace = true
tracing.workspace = true
actix-http = { version = "3" }
actix-web = { version = "4" }

[dev-dependencies]
expect-test = "1"
