[package]
name = "ceramic-one"
description = "Single binary Ceramic node"
version.workspace = true
edition.workspace = true
authors.workspace = true
license.workspace = true
repository.workspace = true
publish = false

[dependencies]
anyhow.workspace = true
ceramic-api-server.workspace = true
ceramic-api.workspace = true
ceramic-core.workspace = true
ceramic-kubo-rpc = { path = "../kubo-rpc", features = ["http"] }
ceramic-kubo-rpc-server.workspace = true
ceramic-metrics.workspace = true
ceramic-p2p.workspace = true
clap.workspace = true
futures-util.workspace = true
futures-timer.workspace = true
futures.workspace = true
git-version = "0.3"
home = "0.5"
hyper.workspace = true
iroh-rpc-client.workspace = true
iroh-rpc-types.workspace = true
libipld.workspace = true
libp2p.workspace = true
multiaddr.workspace = true
multibase.workspace = true
multihash.workspace = true
names.workspace = true
prometheus-client.workspace = true
recon.workspace = true
serde = "1"
serde_json = "1"
serde_repr = "0.1"
signal-hook = "0.3.17"
signal-hook-tokio = { version = "0.3.1", features = ["futures-v0_3"] }
sqlx.workspace = true
swagger.workspace = true
tokio.workspace = true
tracing-appender = "0.2.2"
tracing-subscriber.workspace = true
tracing.workspace = true
tokio-util.workspace = true
tokio-metrics = "0.3.1"
tokio-prometheus-client = "0.1"
clio = "0.3.4"
dirs = "5.0.1"
chrono = "0.4.31"
glob = "0.3.1"
cid.workspace = true

[features]
default = []
tokio-console = ["ceramic-metrics/tokio-console"]

[dev-dependencies]
expect-test.workspace = true
