[package]
name = "recon"
description = "An associative hash function for synchronizing ceramic sets"
version.workspace = true
edition.workspace = true
authors.workspace = true
license.workspace = true
repository.workspace = true
publish = false

[dependencies]
anyhow.workspace = true
async-trait.workspace = true
asynchronous-codec = { version = "0.6.1", features = ["cbor", "json"] }
ceramic-core.workspace = true
ceramic-metrics.workspace = true
futures.workspace = true
hex = "0.4.3"
libp2p-identity.workspace = true
libp2p.workspace = true
multihash.workspace = true
prometheus-client.workspace = true
serde.workspace = true
serde_json.workspace = true
tokio.workspace = true
tracing.workspace = true
uuid = { version = "1.8.0", features = ["v4"] }
void.workspace = true

[dev-dependencies]
codespan-reporting = "0.11.1"
expect-test.workspace = true
lalrpop-util = { version = "0.20.0", features = ["lexer"] }
libp2p = { workspace = true, features = ["ping"] }
libp2p-swarm-test = "0.3.0"
pin-project = "1.1.3"
pretty = "0.12.1"
quickcheck = "1.0.3"
rand.workspace = true
regex = "1"
serde_cbor.workspace = true
tracing-test.workspace = true
test-log.workspace = true
tokio-stream.workspace = true
tokio-util.workspace = true
tracing-subscriber.workspace = true

[build-dependencies]
lalrpop = "0.20.0"
