[package]
name = "recon"
description = "An associative hash function for synchronizing ceramic sets"
version.workspace = true
edition.workspace = true
authors.workspace = true
license.workspace = true
repository.workspace = true
publish = false

[dependencies]
anyhow.workspace = true
async-trait.workspace = true
asynchronous-codec = { version = "0.6.1", features = ["cbor", "json"] }
ceramic-core.workspace = true
cid.workspace = true
hex = "0.4.3"
libp2p-identity.workspace = true
libp2p.workspace = true
multihash.workspace = true
rand = "0.8.5"
serde.workspace = true
serde_ipld_dagcbor.workspace = true
serde_json.workspace = true
sqlx.workspace = true
tokio.workspace = true
tracing.workspace = true
void.workspace = true
itertools = "0.11.0"

[dev-dependencies]
codespan-reporting = "0.11.1"
expect-test.workspace = true
lalrpop-util = { version = "0.20.0", features = ["lexer"] }
libp2p-swarm-test = "0.2.0"
pretty = "0.12.1"
quickcheck = "1.0.3"
regex = "1"
serde_cbor.workspace = true
tracing-test.workspace = true

[build-dependencies]
lalrpop = "0.20.0"
