[package]
name = "recon"
description = "An associative hash function for synchronizing ceramic sets"
version.workspace = true
edition.workspace = true
authors.workspace = true
license.workspace = true
repository.workspace = true

[dependencies]
anyhow.workspace = true
async-trait.workspace = true
asynchronous-codec = { version = "0.6.1", features = ["cbor", "json"] }
cbor = "0.4.1"
cid.workspace = true
hex = "0.4.3"
libp2p-identity = { version = "0.1.2", features = ["peerid"] }
libp2p.workspace = true
multihash = "0.18.0"
rand = "0.8.5"
serde.workspace = true
serde_bytes.workspace = true
serde_ipld_dagcbor.workspace = true
serde_json.workspace = true
tracing.workspace = true
unsigned-varint = "0.7.1"

[dev-dependencies]
async-std = "1.12.0"
codespan-reporting = "0.11.1"
expect-test = "1.4.1"
lalrpop-util = { version = "0.20.0", features = ["lexer"] }
libp2p-swarm-test = "0.1.0"
pretty = "0.11.3"
quickcheck = "1.0.3"
regex = "1"
rusqlite = "0.29.0"
serde_cbor = "0.11.2"
tracing-test.workspace = true


[build-dependencies]
lalrpop = "0.19.8"
