[package]
name = "ceramic-api"
description = "implementation of the Ceramic API server"
version.workspace = true
edition.workspace = true
authors.workspace = true
license.workspace = true
repository.workspace = true
publish = false

[dependencies]
anyhow.workspace = true
async-trait.workspace = true
ceramic-api-server.workspace = true
ceramic-core.workspace = true
ceramic-metadata.workspace = true
futures.workspace = true
hyper.workspace = true
multibase.workspace = true
recon.workspace = true
serde.workspace = true
serde_cbor.workspace = true
serde_json.workspace = true
swagger.workspace = true
tokio.workspace = true
tracing.workspace = true

[dev-dependencies]
expect-test.workspace = true
tracing-test.workspace = true
mockall.workspace = true
